@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');


header h1 {
    margin: auto;
    text-align: center;
    font-size: 70px;
    letter-spacing: 20px;
    font-family: 'Anton', sans-serif;
    color: purple;
}

header {
    height: 100px;
}

.container {
    display: flex;
    flex-direction: row;
}

.awesome {
    width: 30%;
}

.middle {
    width: 40%;
}

.title {
    border: 2px solid black;
    height: 40px;
}

.title p {
    margin-top: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    color: purple;
}

.title_mid {
    border: 2px solid black;
    height: 70px;
}

.title_mid p {
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
    color: deepskyblue;
    letter-spacing: 20px;
}

.photo {
    border: 0px solid black;
    height: 300px;
    background-image: url(pics/sierra.png);
    background-size: cover;
}

.list {
    border: 2px solid black;
    height: 570px;
    background-color: lawngreen;
}

.verse {
    border: 2px solid black;
    height: 196px;
    background-color: red
}

#list_1 ul {
    list-style-type: square;
}

#list_1 li {
    margin-bottom: 4em;
    font-size: 20px;
}

#list_2 ul {
    list-style-type: square;
}

#list_2 li {
    margin-bottom: 3.1em;
    font-size: 20px;
}

.verse > p {
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2em;
    color: yellow;
}
