h1 {
    margin: auto;
    text-align: center;
    font-size: 60px;
    color: blue;
    padding-bottom: 1em;

}
h2 {
    margin: auto;
    text-align: center;
    color: red;
    font-size: 40px;
    padding-bottom: 1em;
}

