
main {
    color: rgb(34, 77, 120);
}

p {
    color: red;
}



p1 {
    text-decoration: underline;
    color:#e1f03c
}

h2 {
    position: relative;
    transition: top is steps(4, end);
    top: 0;
}
