
main {
    color: rgb(34, 77, 120);
    padding-left: 7em;
}

p {
    color: red;
    font-size: 11px;
}



p1 {
    text-decoration: underline;
    color:#e1f03c;
}

h2 {
    position: relative;
    transition: top is steps(4, end);
    top: 0;
    color: cornflowerblue;
}


table th, td {
    border: 1px solid black;
    border-spacing: 45px;

}

main {

}

p2 {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.display p {
    display: block;
    border: dashed 4px blue;
    margin-right: auto;
}

h3 {
    padding-bottom: 6em;
    padding-top: 3em;
    text-align: right;
}

div {
    padding-top: 4em;
}



img {
    float: right;
    width: 300px;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;
}



.=alpha {

}



.alpha {
    width: 100px;
    height: 100px;
    background: rgb(34, 55, 88);
    border: 2px dashed;
    color: yellow;
    font: 25px;
    text-align: center;
    height: 200px;
    width: 150px;
   }
.alpha:nth-child(3) {
    flex-grow: 2;
    flex-shrink: 0.25;
    flex-basis: 200px;
    order: -2;
}


.omega {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    border: 2px dashed;
    justify-content: space-around;
    min-height: 400px;
}
