
main {
    color: rgb(34, 77, 120);
    padding-left: 7em;
}

p {
    color: red;
    font-size: 11px;
}



p1 {
    text-decoration: underline;
    color:#e1f03c;
}

h2 {
    position: relative;
    transition: top is steps(4, end);
    top: 0;
    color: cornflowerblue;
}


table th, td {
    border: 1px solid black;
    border-spacing: 45px;

}

main {

}

p2 {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

p3 {
    display: block;
    border: dashed 4px blue;
    margin-right: auto;
}

h3 {
    padding-bottom: 6em;
    padding-top: 3em;
    text-align: right;
}

div {
    padding-top: 4em;
}



img {
    float: right;
    width: 300px;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;
}
