
main {
    font-family: 'Arvo', serif;
}

h1 {
    padding-bottom: 5em;
    text-align: center;
}





p1 {
    text-align: center;
    padding-top: 3em;
}

div {
    text-align: center;
}

table th, td {
    border: 1px solid black;
    border-spacing: 4
}

