
header {
    margin: auto;
    padding-bottom: 3em;
    text-align: center;
    color: darkblue;
}

.all {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    color: yellow;
    justify-content: space-between;
}

.mil {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/Milanesa.JPG");
    background-size: contain;
    background-position: bottom;
}

.asado {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/asado.JPG");
    background-size: contain;
    background-position: bottom;
}

.Pasta {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/a%C3%B1alotis.jpeg");
    background-size: contain;
    background-position: bottom;
    margin-top: 2em;
}

.pizza {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/empanadas.jpeg");
    background-size: contain;
    background-repeat: round;
    background-position: bottom;
    margin-top: 2em;
}



.rica {
    margin: auto;
    text-align: center;
    color: firebrick;
    padding-bottom: 1em;
}

.rica p {
    color: gold;
}
