
header {
    margin: auto;
    padding-bottom: 3em;
    text-align: center;
    color: darkblue;
}

.all {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    color: yellow;
}

.mil {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/DSCN1011.JPG");
    background-size: contain;
    background-position: bottom;
}

.asado {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/DSCN1060.JPG");
    background-size: contain;
    ackground-position: bottom;
}

.Pasta {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/IMG-20161226-WA0010.jpeg");
    background-size: contain;
    ackground-position: bottom;
}

.pizza {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/IMG-20161220-WA0012.jpeg");
    background-size: contain;
    background-repeat: round;
    ackground-position: bottom;
}



.rica {
    margin: auto;
    text-align: center;
    color: firebrick;
    padding-bottom: 1em;
}

.rica p {
    color: gold;
}
