
header {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
    color: darkblue;
    font-size: 30px;
}

.all {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("/final_project/linkspages/photos/flag.png");
    background-size: contain;
}

.mil {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/Milanesa.JPG");
    background-size: contain;
    background-position: bottom;
    transform: rotate(7deg);
}

.asado {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/asado.JPG");
    background-size: contain;
    background-position: bottom;
    transform: rotate(-7deg);
}

.Pasta {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/a%C3%B1alotis.jpeg");
    background-size: 600px 400px;
    background-position: bottom;
    transform: rotate(7deg);
    margin-top: 2em;
}

.pizza {
    border: 2px solid green;
    width: 45%;
    height: 400px;
    background-image: url("/final_project/linkspages/photos/empanadas.jpeg");
    background-size: 540px 400px;
    background-repeat: round;
    background-position: bottom;
    transform: rotate(-7deg);
    margin-top: 2em;
}



.rica {
    margin: auto;
    text-align: center;
    color: firebrick;
    padding-bottom: 1em;
}

.rica p {
    color: gold;
    background-color: blueviolet;
}

.mil h2 {
    margin: auto;
    text-align: center;
    background-color: greenyellow;
}

.asado h2 {
    margin: auto;
    text-align: center;
    background-color: greenyellow;
}

.Pasta h2 {
    margin: auto;
    text-align: center;
    background-color: greenyellow;
}

.pizza h2 {
    margin: auto;
    text-align: center;
    background-color: greenyellow;
}

.all ul {
    color: yellow;
}
