@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@media screen and (min-width: 30em) {
    body {
        background-image: url("/final_project/proposalpic/back1.jpg");
        background-size: cover;
    }
    header {
        border: 0px solid black;
        width: 100%;
        height: 230px;
        margin: auto;
        margin-bottom: 4em;
        font-family: 'Abril Fatface', cursive;
        background-image: url("/final_project/proposalpic/yellow.jpg");
        background-size: cover;
        font-family: 'Signika', sans-serif;
    }
    header h1 {
        margin: auto;
        text-align: center;
        font-size: 90px;
        letter-spacing: 40px;
    }
    header h1+h1 {
        margin: auto;
        text-align: center;
        margin-top: -.1em;
    }

    .desc {
        border: 0px solid black;
        height: 150px;
        background-image: url("/final_project/proposalpic/yellow.jpg");
        background-size: cover;
    }
    .desc p {
        font-size: 20px;
    }
    .links {
        display: flex;
        justify-content: space-around;
        margin-top: 5em;
    }
    .title {
        border: 0px solid black;
        height: 100px;
        width: 30%;
        background-color: white;
    }
    .title h1 {
        margin: auto;
        text-align: center;
        font-size: 50px;
        font-family: 'Roboto Mono', monospace;
        padding-top: .3em;
    }
    .titles {
        display: flex;
        justify-content: space-around;
    }
    .words {
        border: 0px solid black;
        width: 30%;
        height: 770px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .phrases {
        border: 0px solid black;
        width: 30%;
        height: 770px;
    }
    .description {
        border: 0px solid black;
        width: 30%;
        height: 770px;
        background-color: white;
    }
    .lists {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }
    .cast {
        border: 0px solid gold;
        height: 40px;
        background-color: darkgoldenrod;
        margin-bottom: 1em;
    }
    .cast1 {
        border: 0px solid gold;
        height: 40px;
        background-color: deepskyblue;
        margin-bottom: 1em;
    }
    .cast2 {
        border: 0px solid gold;
        height: 40px;
        background-color: darkgreen;
        margin-bottom: 1em;
    }
    .cast3 {
        border: 0px solid dark;
        height: 40px;
        background-color: darkgoldenrod;
        margin-bottom: 1em;
    }
    .cast4 {
        border: 0px solid gold;
        height: 40px;
        background-color: deepskyblue;
        margin-bottom: 1em;
    }
    .cast5 {
        border: 0px solid gold;
        height: 40px;
        background-color: darkgreen;
        margin-bottom: 1em;
    }
    .cast6 {
        border: 0px solid dark;
        height: 40px;
        background-color: darkgoldenrod;
        margin-bottom: 1em;
    }
    .lang {
        display: flex;
        justify-content: space-between;
    }
    .lang p {
        margin: auto;
        text-align: center;
        color: white;
        font-size: 25px;
        padding-top: .4em
    }
    .lang h1 {
        margin: auto;
        text-align: center;
        font-size: 40px
    }
    .c {
        border: 0px solid black;
        height: 50px;
        width: 30%;
        background-color: deepskyblue;
    }
    .e {
        border: 0px solid black;
        height: 50px;
        width: 30%;
        background-color: darkgoldenrod;
    }
    .s {
        border: 0px solid black;
        height: 50px;
        width: 30%;
        background-color: darkgreen;
    }






}
