@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
.top {
    border: 0px solid black;
    height: 100px;
    background-color:cornsilk;
}

header h1 {
    margin: auto;
    text-align: center;
    font-size: 70px;
    letter-spacing: 20px;
    font-family: 'Anton', sans-serif;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3em;
}

.middle {
    border: 2px solid black;
    height: 300px;
    width: 30%;
    background-color: aquamarine;
}

.head {
    border: 1px solid black;
    height: 40px;
    background-color: blanchedalmond;
}

.head2 {
    border: 1px solid black;
    height: 40px;
    background-color:aqua;
}


.personal {
    border: 2px solid black;
    height: 230px;
    background-color: dimgray;
    margin-top: 2em;
}



.head p {
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: .1em;
    font-family: 'Supermercado One', cursive;
}
.head2 p {
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: .1em;
    font-family: 'Supermercado One', cursive;
}






#abajo {
    color: mintcream;
    font-size: 20px;
    font-family: 'Supermercado One', cursive;
}



#left {
    font-size: 23px;
}

#middle {
    font-size: 23px;
    color: darkred;
}

#right {
    font-size: 30px;
    color: grey;
}
