@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Acme');
.foot span:nth-of-type(even) {
    color: deepskyblue;
}

.foot span:nth-of-type(odd) {
    color: #da9616;
}

header h1 {
    margin: auto;
    text-align: center;
    font-size: 90px;
    letter-spacing: 10px;
    margin-top: .6em;
}

header p {
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-top: .6em;
    color: deepskyblue;
    margin-bottom: 1em;
    letter-spacing: 10px;
}

img {
    display: block;
    margin: auto;
}

.overview {
    border: 0px solid black;
    height: 80px;
    width: 30%;
    background-color: goldenrod;
    border-radius: 8px
}

.overview p {
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-top: .1em;
    font-family: 'Kurale', serif;
}
.overview a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

footer {
    margin-top: 5em;
}

#areas {
    margin-top: 5em;
}

.title {
    font-size: 50px;
    margin: auto;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.pic {
    margin-bottom: 7em;
    display: flex;
    justify-content: space-around;
}

.img {
    border: 0px solid black;
    height: 280px;
    width: 35%;
}

a:hover {
    color: #C1C422
}

