@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Acme');
.foot span:nth-of-type(even) {
    color: deepskyblue;
}

.foot span:nth-of-type(odd) {
    color: #da9616;
}

header h1 {
    margin: auto;
    text-align: center;
    font-size: 90px;
    letter-spacing: 10px;
    margin-top: .6em;
}

header p {
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-top: .6em;
    color: deepskyblue;
    margin-bottom: 1em;
    letter-spacing: 10px;
}

img {
    display: block;
    margin: auto;
}

.overview {
    border: 0px solid black;
    height: 60px;
    width: 20%;
    background-color: goldenrod;
    border-radius: 8px
}

.overview p {
    margin: auto;
    text-align: center;
    font-size: 35px;
    margin-top: .1em;
    font-family: 'Kurale', serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

footer {
    margin-top: 5em;
}

#areas {
    margin-top: 5em;
}

.title {
    font-size: 50px;
    margin: auto;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.pic {
    margin-bottom: 7em;
    display: flex;
    justify-content: space-around;
}

.img {
    border: 0px solid black;
    height: 280px;
    width: 35%;
}

#one {
    margin-top: -3em;
    background-image: url(mission_image/bap.jpg);
    background-size: cover;
}

#two {
    margin-top: -3em;
    background-image: url(mission_image/dad.jpg);
    background-size: cover;
}
.merlo {
    background-image: url(mission_image/lg.jpg);
    margin-bottom: 8em;
    background-size: cover;
}
.arco {
    background-image: url(mission_image/g.jpg);
    margin-bottom: 8em;
    background-size: cover;
}
.sl {
    background-image: url(mission_image/bl.jpg);
    background-size: cover;
    margin-bottom: 8em;
}
.it {
    background-image: url(mission_image/red.jpg);
    background-size: cover;
    margin-bottom: 8em;
}
.lujan {
    background-image: url(mission_image/orange.jpg);
    background-size: cover;
    margin-bottom: 8em;
}
#three {
    background-image: url(mission_image/fam.JPG);
    background-size: cover;
}
#four {
    background-image: url(mission_image/poop.JPG);
    background-size: cover;
}
#five {
    background-image: url(mission_image/guad.jpg);
    background-size: cover;
}
#six {
    background-image: url(mission_image/sl.jpg);
    background-size: cover;
}
#seven {
background-image: url(mission_image/john.jpg);
    background-size: cover;
}
#eight {
background-image: url(mission_image/griselda.jpg);
    background-size: cover;
}
#nine {
    background-image: url(mission_image/pday.jpg);
    background-size: cover;
}
#ten {
    background-image: url(mission_image/lujan.jpg);
    background-size: cover;
}
