<style>
@import url('https://fonts.googleapis.com/css?family=Sansita');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
</style>

h2 {
    font-size: 14px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}


main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }


ul {
    display: flex;
    justify-content: space-around;
    padding-right: 1em;
}

.nav nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.Main1 h1 {
    text-align: center;
    align-self: flex-start;
    font-size: 25px;
}

.header h1 + h1 {
    text-align: right;
    margin-top: -.7em;
    font-size: 25px;
    font-weight: 100;
    padding-right: 1em;
}

p {
   text-align: center;
    font-size: 50px;
}

.forecast {
    margin-top: -2em;
    display: flex;
}

.forecast p {
    font-size: 20px;
    padding-left: .5em;
}

.stuff {
    display: flex;
}

.Cosas {
    display: flex;
}

.stuff h1 {
    padding-left: 2em;
}

.flex p {
    padding-left: 1em;
    margin-top: .9em;
    font-size: 35px;
}

.Cosas p {
    padding-left: 1em;
    margin-top: 1em;
    font-size: 35px;
}

.Current {
    margin-top: 4em;
    border-radius: 25px;
    border: solid 6px grey;
    padding: 1em;
    margin-bottom: 1em;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    word-spacing: 100px;
    list-style-type: none;
}

.end nav {
    text-align: right;
    font-size: 30px;
    margin-top: -1.3em;
    padding-right: 3em;
}

.end {
    font-size: 30px;
}


.forecast a {
    padding-right: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}


footer {
    margin-bottom: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: lightgrey;
}

.border {
    border: solid 6px grey;
    padding: 1em;
}

.header {
    background-color: lightgray;
}

.flex {
    display: flex;
    flex-direction: column;
}
