
@import url('https://fonts.googleapis.com/css?family=Sansita');



@import url('https://fonts.googleapis.com/css?family=PT+Sans');


h2 {
    font-size: 14px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}


main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-image: url("images/sunny-winter.jpg");
        background-size: cover;
    }


ul {
    display: flex;
    justify-content: space-around;
    padding-right: 1em;
}

.nav nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F07C6C;
}

.Main1 h1 {
    text-align: center;
    align-self: flex-start;
    font-size: 25px;
    color: lightgreen;
}

.header h1 + h1 {
    text-align: right;
    margin-top: -1.5em;
    font-size: 25px;
    font-weight: 100;
    padding-right: 1em;
}

.border p {
   text-align: center;
    font-size: 50px;
    margin-bottom: -2em;
    margin-top: -.1em
}

.forecast {
    margin-top: -2em;
    display: flex;
}

.forecast p {
    font-size: 20px;
    padding-left: .5em;
    text-align: right;
    margin-top: 6em;
}

.stuff {
    display: flex;
    margin-top: -2em;
}

.Cosas {
    display: flex;
    margin-top: -2.8em;
    margin-bottom: -2em;
}

.stuff h1 {
    padding-left: 3.2em;
}

.flex p {
    padding-left: 1em;
    margin-top: .8em;
    font-size: 35px;
}

.Cosas p {
    padding-left: 1em;
    margin-top: .8em;
    font-size: 35px;
}

.Current {
    margin-top: 4em;
    border-radius: 20px;
    border: solid 1px;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(200,200,200,.6);
    font-size: 17px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    word-spacing: 100px;
    list-style-type: none;
    color: #47556F;
}

.nav li:hover {
    color: #E7EF61;
}

.end nav {
    text-align: right;
    font-size: 30px;
    margin-top: -1.3em;
    padding-right: 4em;
}

.end {
    font-size: 30px;
}


.forecast a {
    display: inline-block;
    margin-top: 5.5em;
    margin-left: -.5em;
}
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}


footer {
    margin-bottom: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: lightgrey;
}

.border {
    border: solid 4px grey;
    padding: .5em;
    height: 6em;
    color: lightgreen;
}

.header {
    background-color: lightgray;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex p+p {
    margin-top: -1em;
}


.align {
    margin-top: -2em;
}

@media screen and (max-width: 34em){
    .forecast1 {
        display: none;
    }

    .sunny {
        display: none;
    }
}

@media screen and (min-width: 34em) {
    .header h1 + h1 {
        width: 18em;
    }

    .fix{
        display: flex;
        flex-direction: row-reverse;
    }

    .nav nav{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #F07C6C;
    }

    .nav ul {
        display: flex;
        justify-content: space-between;
        word-spacing: 100px;
        list-style-type: none;
        color: #47556F;
    }

    .forecast1 {
        margin-left: .5em;
    }

.forecast1 ul {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    max-height: 13em;
    overflow: auto;
}

    main {
        flex-direction: row;
        align-items: stretch;
    }

    main > section {
        flex: 1 0 30%;
    }

    .end nav {
        width: 12em;
    }

    body {
        width: 80%;
        max-width: 800px;
        margin: auto;
    }

    .Current {
        margin-top: -.05em;
        font-size: 12px;
    }

    .stuff {
        font-size: 12px;
        margin-top: 1em
    }

    .stuff h1{
        margin-top: 1.7em
    }

    .flex p {
        font-size: 12px;
        margin-top: 3em
    }

    .Cosas p{
        font-size: 12px;
        margin-top: 4em;
    }

    .Cosas h1{
        margin-top: 2.4em
    }

    .align {
        text-align: center;
    }

    .border {
        border: solid 4px grey;
        padding: .8em;
        height: 6em;
        color: lightgreen;
        margin-left: 2em;
        margin-right: 2em;
        padding-top: 2em;
        padding-bottom: 4em;
    }

    .forecast {
        margin-top: 2em;
    }

    .sunny {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}










.forecast1 li {
    padding-bottom: .5em;
}


