
h1 {
    font-size: 13px;
    color: cornflowerblue;
    padding-left: 6em;
}


p {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 4 auto;
    padding-left: 7em;
    padding-right: 7em;

}

h2 {
    font-size: 11px;
    color: cornflowerblue;
    padding-left: 7em;
}

ul {
    font-size: 11px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding-left: 10em;
}



img {
    padding-left: 7em;
}

ol {
    padding-left: 7em;
}
