
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('https://fonts.googleapis.com/css?family=Mogra');
@media screen and (min-width: 30em) {
    .header span:nth-of-type(even) {
        color: deepskyblue;
    }
    .header span:nth-of-type(odd) {
        color: #da9616;
    }
    .header {
        margin: auto;
        text-align: center;
        font-size: 100px;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .header span {
        letter-spacing: 40px;
    }
    .lema {
        margin: auto;
        text-align: center;
        margin-bottom: 4em;
    }
    .lema p {
        font-size: 30px;
        font-family: 'Mogra', cursive;
    }
    .purpose {
        border: 0px solid black;
        width: 100%;
        height: 40px;
        background-color: deepskyblue;
        margin-bottom: 1em;
    }
    .purpose p {
        margin: auto;
        text-align: center;
        font-size: 30px;
        letter-spacing: 40px;
        font-family: 'Bubbler One', sans-serif;
    }
    .purpose a {
        text-decoration: none;
        color: black;
    }
    .pics {
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
        flex-wrap: wrap;
        margin-bottom: 5em;
    }
    .argpic1 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/teamarg.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic2 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/BA.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic3 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/asado.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic4 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/lujan.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic5 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/villa.jpg");
        background-size: cover;
    }
    .argpic6 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/eva.jpg");
        background-size: cover;
    }
    .foot span:nth-of-type(even) {
        color: fuchsia;
    }
    .foot span:nth-of-type(odd) {
        color: darkgoldenrod;
    }
    .audience {
        margin: auto;
        text-align: center;
        font-size: 40px;
        margin-top: -1em;
    }
    .audience a {
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 30em) {
    .header span:nth-of-type(even) {
        color: deepskyblue;
    }
    .header span:nth-of-type(odd) {
        color: #da9616;
    }
    .header {
        margin: auto;
        text-align: center;
        font-size: 40px;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .lema {
        margin: auto;
        text-align: center;
        margin-bottom: 2em;
    }
    .lema p {
        font-size: 20px;
        font-family: 'Mogra', cursive;
    }
    .purpose {
        border: 0px solid black;
        width: 100%;
        height: 40px;
        background-color: deepskyblue;
        margin-bottom: 1em;
    }
    .purpose p {
        margin: auto;
        text-align: center;
        font-size: 30px;
        letter-spacing: 20px;
    }
    .purpose a {
        text-decoration: none;
        color: black;
    }
    .argpic2 {
        border: 0px solid black;
        width: 100%;
        height: 200px;
        background-image: url("proposalpic/BA.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
}
@media screen and (min-width: 30em) and (max-width: 75em) {
    .header span:nth-of-type(even) {
        color: deepskyblue;
    }
    .header span:nth-of-type(odd) {
        color: #da9616;
    }
    .header {
        margin: auto;
        text-align: center;
        font-size: 80px;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .header span {
        letter-spacing: 5px;
    }
    .lema {
        margin: auto;
        text-align: center;
        margin-bottom: 4em;
    }
    .lema p {
        font-size: 30px;
        font-family: 'Mogra', cursive;
    }
    .purpose {
        border: 0px solid black;
        width: 100%;
        height: 40px;
        background-color: deepskyblue;
        margin-bottom: 1em;
    }
    .purpose p {
        margin: auto;
        text-align: center;
        font-size: 30px;
        letter-spacing: 40px;
    }
    .purpose a {
        text-decoration: none;
        color: black;
    }
    .pics {
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
        flex-wrap: wrap;
        margin-bottom: 5em;
    }
    .argpic1 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/teamarg.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic2 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/BA.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic3 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/asado.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic4 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/lujan.jpg");
        background-size: cover;
        margin-bottom: 3em;
    }
    .argpic5 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/villa.jpg");
        background-size: cover;
    }
    .argpic6 {
        border: 0px solid black;
        width: 45%;
        height: 350px;
        background-image: url("proposalpic/eva.jpg");
        background-size: cover;
    }
    .foot span:nth-of-type(even) {
        color: fuchsia;
    }
    .foot span:nth-of-type(odd) {
        color: darkgoldenrod;
    }


}

a:hover {
    color: #C1C422
}
