
header {
    color: crimson;
    font-family: 'Abril Fatface', cursive;
}

nav. nav {
    color: crimson;
    padding-bottom: 3em;
    font-family: 'Abril Fatface', cursive;
}

.green {
    color: forestgreen;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.blue {
    color: darkblue;
    padding-top: 3em;
}


.back {
    background-color: yellow;
}

.foot span:nth-of-type(even){
    color:fuchsia;
}
.foot span:nth-of-type(odd){
    color:darkgoldenrod;
}

header {
    text-align: center;
    margin: auto;
}

nav > ul {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    list-style-type: none;
}





